<?xml version="1.0"?>
<config>
    <modules>
        <Flagbit_Optimizer>
            <version>0.0.1</version>
        </Flagbit_Optimizer>
    </modules>
    <global>
        <models>
            <flagbit_optimizer>
                <class>Flagbit_Optimizer_Model</class>
            </flagbit_optimizer>
        	<core>
        		<rewrite>
        			<design_package>Flagbit_Optimizer_Model_Design_Package</design_package>
        		</rewrite>
        	</core>
        </models>
        <helpers>
            <flagbit_optimizer>
                <class>Flagbit_Optimizer_Helper</class>
            </flagbit_optimizer>
            <core>
                <rewrite>
                    <data>Flagbit_Optimizer_Helper_Data</data>
                    <js>Flagbit_Optimizer_Helper_Js</js>
                </rewrite>
            </core>
        </helpers>
    </global>
	<frontend>
		<events>
			<core_block_abstract_to_html_after>
				<observers>
					<flagbit_optimizer_observer>
						<class>flagbit_optimizer/observer</class>
						<method>parseOutput</method>
					</flagbit_optimizer_observer>
				</observers>
			</core_block_abstract_to_html_after>
		</events>
	</frontend>
</config>
